[submodule "dune-common"]
	path = dune-common
	url = https://github.com/renemilk/dune-common.git
[submodule "dune-fem"]
	path = dune-fem
	url = http://users.dune-project.org/repositories/projects/dune-fem-unofficial.git
[submodule "dune-grid"]
	path = dune-grid
	url = https://github.com/renemilk/dune-grid.git
[submodule "dune-istl"]
	path = dune-istl
	url = https://github.com/renemilk/dune-istl.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = http://git.dune-project.org/repositories/dune-localfunctions
[submodule "dune-geometry"]
	path = dune-geometry
	url = https://github.com/renemilk/dune-geometry.git
[submodule "dune-stuff"]
	path = dune-stuff
	url = http://users.dune-project.org/repositories/projects/dune-stuff.git
[submodule "dune-multiscale"]
	path = dune-multiscale
	url = http://users.dune-project.org/repositories/projects/dune-multiscale.git
[submodule "dune-subgrid"]
	path = dune-subgrid
	url = http://users.dune-project.org/repositories/projects/dune-subgrid.git
[submodule "dune-spgrid"]
	path = dune-spgrid
	url = http://users.dune-project.org/repositories/projects/renemilk-dune-spgrid.git
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
