.svn
config.opts.last
html
man
*~
*.orig
#comment
doxygen-tag
*.log
*BASE*
*LOCAL*
*REMOTE*
doxy-header.html
.svn
build-*
CMakeFiles
*_run
solu_0000*
libtool
configure
Makefile
.deps
*.ALU?dGrid
sumatra
massif
local/src/eigen
local/src/boost
local/lib
